doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Selenium Grid

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        span
          img(src='images/selenium-ide-logo.png')
          img(src='images/selenium-logo.png')
          img(src='images/selenium-grid-logo.png')
        h1 Selenium Grid2
        b Mewes Kochheim

      section
        blockquote
          "Selenium-Grid allows you run your tests on different machines against different browsers in parallel."

      section
        ul
          li successor of Selenium RC
          li backwards compatible

      section
        img(src='images/system_architecture.png' style='width:600px')

      section
        h2 Preparations

      section
        img(src='images/test_suite.png' style='width:400px')

      section
        h2 Setup: Hub

        iframe(width='560', height='315', src='http://www.youtube.com/embed/850a1O5_3H0', frameborder='0', allowfullscreen='allowfullscreen')

      section
        h2 Setup: Nodes

        iframe(width='560', height='315', src='http://www.youtube.com/embed/t45h81koe_Y', frameborder='0', allowfullscreen='allowfullscreen')

      section
        h2 The First Run

        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section
        h2 Logging / Monitoring

      section
        h2 Final Thoughts

      section
        h2 Thanks

        a(href="https://github.com/MewesK/selenium-grid-demo") github.com/MewesK/selenium-grid-demo

    script(src='build/build.js')