doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Selenium Grid

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        span
          img(src='images/selenium-ide-logo.png')
          img(src='images/selenium-logo.png')
          img(src='images/selenium-grid-logo.png')
        h1 Selenium Grid2
        b Mewes Kochheim

      section
        h3 Introduction
        blockquote
          "Selenium-Grid allows you run your tests on different machines against different browsers in parallel."

      section
        h3 History
        ul
          li currently in version 2.43.1
          li part of the Selenium server
          li successor of Selenium RC
          li backwards compatible

      section
        h3 Selenium server
        ul
          li Selenium core
          li Selenium hub
          li Selenium node

      section
        img(src='images/system_architecture.png' style='width:600px')

      section
        h2 Preparations

      section
        h3 Selenium IDE
        blockquote
          "Selenium IDE is an integrated development environment for Selenium scripts. It is implemented as a Firefox extension, and allows you to record, edit, and debug tests."

      section
        img(src='images/test_suite.png' style='width:400px')

      section
        img(src='images/export.png' style='width:400px')

      section
        p run as part of the build process
        p
          b and/or
        p run continuously

      section
        h3 Selenium Hub
        pre
          code.language-markup.
            $ java -jar selenium-server-standalone-2.43.1.jar -role hub

      section
        h3 Nodes
        b The annoying part...

      section
        h3 Operating Systems
        ul
          li Windows 7
          li Windows 8
          li Windows 8.1
          li OS X (latest)
          li Ubuntu
          li Android (Chrome only)
          li ChromeOS (Chrome only, duh)

      section
        h3 Browsers
        ul
          li Firefox&nbsp;
            small (latest, previous, latest ESR and previous ESR)
          li Internet Explorer&nbsp;
            small (6, 7, 8, 9 and 10)
          li Safari&nbsp;
            small (5.1+) - OS X only
          li Opera&nbsp;
            small (12.x)
          li Chrome&nbsp;
            small (latest stable, beta, and dev, plus previous stable)
        b All browsers except Firefox require external driver applications!

      section
        h3 Example setup
        pre
          code.language-markup.
            set PATH=%PATH%;C:\Selenium
            start cmd /k java ^
              -jar C:\Selenium\selenium-server-standalone-2.40.0.jar ^
              -role node ^
              -hub http://192.168.1.1:4444/grid/register
            start cmd /k IEDriverServer.exe --port=9516
            start cmd /k chromedriver.exe

      section
        h2 The First Run
          iframe(width='560', height='315', src='http://www.youtube.com/embed/850a1O5_3H0', frameborder='0', allowfullscreen='allowfullscreen')

      section
        h2 Parallelism
        pre
          code.language-javascript.
            Result result = JUnitCore.runClasses(
                ParallelComputer.classes(),
                new Class[]{RepositoryTestWin7.class,RepositoryTestWin8.class }
            );
        b powered by JUnit4 (experimental)

      section
        h2 The Second Run
          iframe(width='560', height='315', src='http://www.youtube.com/embed/t45h81koe_Y', frameborder='0', allowfullscreen='allowfullscreen')

      section
        h3 Logging / Monitoring

      section
        h3 Final Thoughts
        ul
          li administration nodes is a pain
          li making sure that all Selenium/OS/browser versions play together nicely is key

      section
        h2 Thanks

        a(href="https://github.com/MewesK/selenium-grid-demo") github.com/MewesK/selenium-grid-demo

    script(src='build/build.js')