doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Selenium Grid

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Selenium Grid
        h3 Mewes Kochheim - 2014

      section
        h2 Introduction

      section
        h2 Requirements

        ul
          li Hub
          li Nodes
          li Command and control server

      section
        h2 Preparations

      section
        h2 Setup: Hub

      section
        h2 Setup: Nodes

      section
        h2 The First Run

        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section
        h2 Logging / Monitoring

      section
        h2 Final Thoughts

      section
        h2 Thanks

        a(href="https://github.com/MewesK/selenium-grid-demo") github.com/MewesK/selenium-grid-demo

    script(src='build/build.js')